* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.app {
  background-color: white;
  background-image: url("../assets/images/background-main.webp"),
    url("../assets/images/background-main-2.webp");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  height: 100vh;
  position: relative;
}

input,
form {
  width: 100%;
}

a {
  color: inherit;
  text-decoration: none;
}
